{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
  <!-- Saldo Atual -->
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card text-white bg-success">
        <div class="card-body text-center">
          <h5>Saldo Atual</h5>
          <h3>R$ {{ balance }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body text-center">
          <h5>Total de Receitas</h5>
          <h3>R$ {{ total_income }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-danger">
        <div class="card-body text-center">
          <h5>Total de Despesas</h5>
          <h3>R$ {{ total_expense }}</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Categorias -->
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-white">
        <p>
        <h4 class="text-center">Relação de Receita e Despesa</h4>
        <canvas id="incomeExpenseChart" width="400" height="400"></canvas></p>
      </div>
    </div>

    <script type="application/json" id="total-income">{{ total_income|floatformat:2 }}</script>
    <script type="application/json" id="total-expense">{{ total_expense|floatformat:2 }}</script>

    <!-- Importar o arquivo externo -->
    <script src="{% static 'app/js/dashboard.js' %}"></script>
    <!-- Últimas Transações -->
    <div class="col-md-8">
      <h4>Últimas Transações</h4>
      <ul class="list-group">
        {% for transaction in recent_transactions %}
        <li class="list-group-item">
          {{ transaction.date }} - <strong>{{ transaction.description }}</strong>: R$ {{ transaction.amount }}
          {% if transaction.type_choice == 'income' %}
          <span class="badge bg-success">{{ transaction.get_type_display }}</span>
          {% else %}
          <span class="badge bg-danger">{{ transaction.get_type_display }}</span>
          {% endif %}
        </li>
        {% empty %}
        <li class="list-group-item">Nenhuma transação encontrada.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}