{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card text-white bg-success">
        <div class="card-body text-center">
          <h5>Saldo Atual</h5>
          <h3>R$ {{ balance }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-primary">
        <div class="card-body text-center">
          <h5>Total de Receitas</h5>
          <h3>R$ {{ total_income }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white bg-danger">
        <div class="card-body text-center">
          <h5>Total de Despesas</h5>
          <h3>R$ {{ total_expense }}</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Categorias -->
  <div class="row">
    <div class="col-md-4">
      <div class="card bg-white">
        <p>
        <h4 class="text-center">Relação de Receita e Despesa</h4>
        <canvas id="incomeExpenseChart" width="400" height="400"></canvas></p>
      </div>
    </div>

    <script type="application/json" id="total-income">{{ total_income|floatformat:2 }}</script>
    <script type="application/json" id="total-expense">{{ total_expense|floatformat:2 }}</script>

    <div class="col-md-8">
      <div class="card bg-white">
        <p>
        <h4 class="text-center">Total de Gastos por Mês</h4>
        <canvas id="monthlyExpenseChart" width="400" height="193"></canvas>
        </p>
      </div>
    </div>

    <script type="application/json" id="months-data">
      {{ months|json_script:"months-data" }}
    </script>
    <script type="application/json" id="totals-data">
      {{ totals|json_script:"totals-data" }}
    </script>
    <script src="{% static 'app/js/dashboard.js' %}"></script>

    <p>
    <div class="col-md-12">
      <h4>Últimas Transações</h4>
      <table class="table table-striped table-bordered table-responsive">
        <thead class="table-dark">
          <tr>
            <th>Data</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in recent_transactions %}
          <tr>
            {% if transaction.type_choice == 'income' %}
            <td class="bg-success text-white">{{ transaction.date }}</td>
            <td class="bg-success text-white"><strong>{{ transaction.description }}</strong></td>
            <td class="bg-success text-white">R$ {{ transaction.amount }}</td>
            {% else %}
            <td class="bg-danger text-white">{{ transaction.date }}</td>
            <td class="bg-danger text-white"><strong>{{ transaction.description }}</strong></td>
            <td class="bg-danger text-white">R$ {{ transaction.amount }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </p>
  </div>
</div>
{% endblock %}